
	<doctype html>
		<title>Add User</title>
		<h2>Add User</h2>
		<form
		 method="post" action="/add">
			<dl>
				<p>
					<input name="customerId" value="" type="text" placeholder="CustomerId" autocomplete="off" required>
				</p>
				<p>
					<input name="inputName" value="" type="text" placeholder="Name" autocomplete="off" required>
				</p>
				<p>
					<input name="inputAmount" value="" type="text" placeholder="Amount" autocomplete="off" required>
				</p>
				<p>
					<input name="inputEmail" value="" type="text" placeholder="Email" autocomplete="off" required>
				</p>
				<p>
					<input name="inputMonth" value="" type="text" placeholder="Month" autocomplete="off" required>
				</p>
				<p>
					<input name="Charm" value="" type="text" placeholder="Lucky Charm" autocomplete="off" required>
				</p>
			</dl>
			<p>
				<input type="submit" value="Submit">
			</p>
</form>